<link rel="stylesheet" href="/css/home.css">

<div id="feed-posts">
    <h2>For you</h2>
    <form action="/posts/createPost" id="newPostForm" method="POST">
        <input type="text" name="content" id="textarea"  placeholder="Whats happening" required>
        <input id="postbtn" type="submit" value="Post">
    </form>

    <ul id="posts">
        <% posts.forEach((post)=>{%>

            <li id="post">
                
                    <h3><%= post.user.name%></h3>
                    <%= post.content%>
                    <hr>
                        
                        <ul id="comments">
                            <%post.comments.forEach((comment)=>{%>

                                <li>
                                    <p>
                                        <%= comment.content %>
                                            <small>
                                                -<%= comment.user.name%>
                                            </small>

                                    </p>

                                    <%if(locals.user && locals.user.id == comment.user.id){%>
                                        <a href="/comments/destroy/<%= comment.id%>">delete comment</a>
                
                                        <%}%>

                                </li>


                                <%})%>

                        </ul>

                        <form action="/comments/addComment" method="POST" >
                            <input name="content" type="text" placeholder="Add a comment" required>
                            <input type="hidden" name="post" value="<%= post._id%>">
                            <input type="submit" value=">">
                        </form>

                        <%if(locals.user && locals.user.id == post.user.id){%>
                        <a href="/posts/destroy/<%= post.id%>">delete post</a>

                        <%}%>

                

            </li>
            <%})%>
    </ul>



</div>