
<link rel="stylesheet" href="/css/profile.css">


<img src="<%=user.avatar%>" alt="<%=user.name%>" width="100px">


<% if(user.id== profile.id){%>
    <h2>Update Profile</h2>
    <form action="/users/update/<%=profile.id%>" method="post" enctype="multipart/form-data">

        <input type="text" name="name" placeholder="name" value="<%=profile.name%>" required >
        <input type="email" name="email" id="" placeholder="email" value="<%=profile.email%>" required>
        <input type="file" name="avtar" id="" placeholder="Profile Picture">
        <button type="submit">Update</button>


    </form>
    
    <%}else{%>

        <div id="profileContainer">
            <h1>profilePage</h1>
        
            <p> <%= profile.name%></p>
            <p> <%= profile.email%></p>
        
        </div>

        <%}%>
    